<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Recipe</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h2>Edit Recipe</h2>

        <form th:action="@{/recipes/edit}" th:object="${recipe}" method="post" class="form-container">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" th:field="*{name}" id="name" class="input-field">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" th:field="*{description}" id="description" class="input-field">
            </div>
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <input type="text" th:field="*{ingredients}" id="ingredients" class="input-field">
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <input type="text" th:field="*{instructions}" id="instructions" class="input-field">
            </div>
            <div class="form-group">
                <input type="submit" value="Update Recipe" class="button">
            </div>
        </form>

        <a th:href="@{/recipes}" class="button cancel">Cancel</a>
    </div>
</body>
</html>
