<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h2>All Recipes</h2>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.name}"></td>
                <td th:text="${recipe.description}"></td>
                <td>
                    <a th:href="@{'/recipes/details/' + ${recipe.id}}" class="button view">View</a>
                    <a th:href="@{'/recipes/edit/' + ${recipe.id}}" class="button edit">Edit</a>
                    <a th:href="@{'/recipes/delete/' + ${recipe.id}}" class="button delete">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/recipes/add}" class="button add">Add New Recipe</a>
    </div>
</body>
</html>
